//自定义
.tree-container{
  margin:0 auto;
  //border:1px solid #ddd;
  //height:100%;
}
.edit-container{
  .btn{
    cursor: pointer;
  }
}
.branchCenter{
  flex-grow: 2;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
pre{
  background: transparent;
  border:none;
  padding:0;
}

.demo{
  margin:0 auto;
  min-height:200px;
  max-height: 500px;
  .left{
    overflow: auto;
  }
  .right{
    min-height:200px;
    max-height: 100%;
    overflow: auto;
    pre{
      margin:0;
      border-radius: 0;
      code{
        min-height:200px;
        max-height: 100%;
        overflow: auto;
      }
    }
  }
}

#tree-dropdown{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tree-dropdown-menu{
  width:100%;
  padding:5px 15px;
  .QTree-branch {
    cursor: pointer;
  }
}
