.tree-container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd; }

.edit-container .btn {
  cursor: pointer; }

.branchCenter {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
  align-items: center; }

pre {
  background: transparent;
  border: none; }
