body{
  background: #eeeeee;
}
.tree-container{
  margin:0 auto;
  //border:1px solid #ddd;
  //height:100%;
}
.edit-container{
  .btn{
    cursor: pointer;
  }
}
.branchCenter{
  flex-grow: 2;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
pre{
  background: transparent;
  border:none;
  padding:0;
}

.demo{
  margin:0 auto;
  min-height:200px;
  max-height: 500px;
  .left{
    overflow: auto;
  }
  .right{
    min-height:200px;
    max-height: 100%;
    overflow: auto;
    pre{
      margin:0;
      code{
        min-height:200px;
        max-height: 100%;
        overflow: auto;
      }
    }
  }
}

#tree-dropdown{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tree-dropdown-menu{
  width:100%;
  padding:5px 15px;
  .QTree-branch {
    cursor: pointer;
  }
}
.active-branch{
  background: #428bca;
  color: #fff;
  .switch:after{
    background: #fff!important;
  }
  .switch:before{
    background: #fff!important;
  }
}
.active-branch:after{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  content: '';
  width: 14px;
  height: 8px;
  background: 0 0;
  border: 3px solid #fff;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
