$line-color:#ddd;
$line-height:30px;
$empty-height:20px;
.QTree-branch{
  height:$line-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  color:#515151;
  position: relative;

  .empty-span{
    width:$empty-height;
    height:$empty-height;
    position: relative;
  }

  .switch{
    width:$line-height/2;
    height:$line-height/2;
    margin:0 3px;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .plus-btn{
    width:14px;
    height:14px;
    display: inline-block;
    position:relative;
  }
  .plus-btn:after{
    content:'';
    height:100%;
    width:2px;
    background: #515151;
    position: absolute;
    top:0;
    left:0;right:0;
    margin:auto;
  }
  .plus-btn:before{
    content:'';
    width:100%;
    height:2px;
    background: #515151;
    position: absolute;
    top:0;bottom:0;
    left:0;
    margin:auto;
  }
  .minus-btn{
    width:14px;
    height:14px;
    display: inline-block;
    position:relative;
  }
  .minus-btn:after{
    content:'';
    width:100%;
    height:2px;
    background: #515151;
    position: absolute;
    top:0;bottom:0;
    left:0;
    margin:auto;
  }
}
.QTree-hide{
  display: none;
}
li.QTree-branch-container{
  list-style: none;
}
ul.QTree-children-container{
  padding:0;
}
.Qtree-line{
  position:relative;
  padding-left:19px;
}
.children_0>.Qtree-line{
  padding-left:0;
}
.Qtree-line.QTree-branch-container:before{
  content:'';
  width:1px;
  height:100%;
  background: $line-color;
  position: absolute;
  left:9px;
  top:0;
}
.Qtree-line.QTree-branch-container:after{
  content:'';
  height:1px;
  width:9px;
  background: $line-color;
  position: absolute;
  top:$line-height/2;
  left:10px;
}
.QTree-children-container .Qtree-line:last-of-type:before{
  height:$line-height/2;
}
.children_0>.Qtree-line:before{
  display: none;
}
.children_0>.Qtree-line:after{
  display: none;
}
.empty-span:after{
  content:'';
  height:1px;
  width:$line-height/2;
  background: $line-color;
  position: absolute;
  left:0;
  top:$empty-height/2-0.5;
}
